<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'>
</head>
<body >

    <div class="container .col-md-8">
      <a class="col-md-4 col-md-offset-5" href="/clientList"><input  class="btn btn-primary"  type="button" value="Список клиентов"></a>
    </div>
</body>
</html>
